@model BakeryPierre.Models.Treat

@{
  Layout = "_Layout";
}

<h2>Add a new Treat</h2>

@using(Html.BeginForm())
{
  <div class="row">
    <div class="col-md-5 column">
      @Html.LabelFor(model => model.TreatName)<br>
    </div>
    <div class="col-md-5 column">
      @Html.TextBoxFor(model => model.TreatName, new {@class="form-control", required="required"})<br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 column">
      @Html.Label("Treat is available today :")<br>
    </div>
    <div class="col-md-5 column">
      @Html.CheckBoxFor(model => model.AvailableToday, true)<br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 column">
        @Html.LabelFor(model => model.Price)<br>
    </div>
    <div class="col-md-5 column">
        @Html.TextBoxFor(model => model.Price, new { @type = "number", step="any"})<br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 column">
      @Html.Label("Flavor profile of this treat ")<br>
    </div>
    <div class="col-md-5 column">
      @Html.DropDownList("FlavorId", "Select")<br>
      <br>    
      <input type="submit" value="Add Treat" /><br>
    </div>
  </div>
}